@font-face {
        font-family: f1-black;
        src: url(Formula1-Black.ttf)
}

@font-face {
            font-family: f1-regular;
            src: url(Formula1-Regular-1.ttf)
}

@font-face {
        font-family: f1-bold-web;
        src: url(Formula1-Bold_web.ttf)
}

@font-face{
        font-family: f1-italic;
        src: url(Formula1-Italic.ttf)
}

@font-face{
    font-family: f1-wide;
    src: url(Formula1-Wide.ttf)
}



body {
    font-family: f1-italic;
    background-image: url(background-f1.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

nav {
    position: sticky;
    top: 0;
    margin-top: 5px;
    
}

.small{
    font-size: .7em;
}

.text{
    display:block;
    flex-direction: column;
    text-align: left;
    padding:25;
    align-items: center;
    border-top:0;
    margin-left: 15%;
    margin-right: 15%;
    max-width: 80%;
    background-color: white;
    flex-direction: column;

}


.title {
    font-family:f1-bold-web; 
    font-weight: 250;

}

.wide {
    font-size: 20;
    text-decoration: underline;

}

.sub-info{
    font-size: 15px;
}


ul {
    list-style-type: none;
    padding: 14px;
    background-color: rgba(255, 2, 2, 0.966);
    overflow: visible;
    font-family:f1-regular;
    border-radius: 5px;
    border-color: black;
    border-width: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    
}

span{
    color: gray;
}

nav ul li a{
    color:black;
    text-align: center;
    padding: 1px 20px;
    text-decoration : none;
    
}


nav ul li a:hover{
    background-color:white;
    color: black;
    cursor:pointer;
    border-radius: .5em;

}


.dropdown a:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    border-radius: .5em;
    
}

.arrow {
  display: inline-block;
  transition: transform 0.3s ease;
  font-size: 20px;
}

.dropdown:hover .arrow {
  transform: rotate(90deg);
  
}

.dropdown a .arrow{
    font-size: 1em;
    justify-content: center;
}


.footer {
    background-color:white;
    position: static;
        
}

.dropdown a {
  position: relative;
  display: inline-block;
  content:"→";
  text-decoration: none;
  color:black;
  padding: 1px 20px;
  border-radius: .5em;

}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: .5em;
  
}

.dropdown-content a {
  color: black;
  
  padding: 12px 16px;
  display: block;
  text-decoration: none;
}

.dropdown-content a:hover {background-color: #c7c5c5;;}

.dropdown:hover .dropdown-content {display: block;}

